*.log
*.backup
.env
.vscode
__pycache__/

node_modules/

appdaemon/conf/dashboards/

homeassistant/.HA_VERSION
homeassistant/.storage/
homeassistant/blueprints/
homeassistant/home-assistant.log*
homeassistant/home-assistant_v2.db*

zigbee2mqtt/log
zigbee2mqtt/state.json
zigbee2mqtt/database.db

roborock_s5/
